@tailwind base;

/* Firefox */
* {
  scrollbar-width: 15px;
  scrollbar-color: #00bed7;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #00bed7;
  border-radius: 14px;
  /* border: 3px solid #00bed7; */
}

@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-primary shadow-md text-white text-xs disabled:cursor-not-allowed rounded py-2 px-3 hover:bg-primary-dark transition-colors duration-300;
  }
  .btn-outline {
    @apply border shadow rounded bg-slate-100 text-xs disabled:cursor-not-allowed cursor-pointer text-text-color px-2 py-2 hover:bg-slate-200 transition-colors duration-300;
  }
  .btn-cancel {
    @apply border shadow border-red-700 dark:border-red-500 rounded bg-transparent text-xs cursor-pointer text-red-700 px-2 py-2 hover:bg-red-50 dark:bg-red-50 dark:border dark:border-transparent dark:hover:bg-red-100 transition-colors duration-300;
  }
  .btn-picking--list {
    @apply bg-[#278701]  shadow text-white text-xs rounded py-2 px-3 hover:bg-[#36ba01] transition-colors duration-300;
  }
  .btn-yellow {
    @apply bg-[#ffc628] shadow text-white text-xs rounded py-2 px-3 hover:bg-[#ffd45b] transition-colors duration-300;
  }
  .btn-danger {
    @apply rounded shadow bg-red-700 text-xs cursor-pointer text-white px-2 py-2 hover:bg-red-800  transition-colors duration-300;
  }
  .link-class {
    @apply text-xs text-text-color hover:bg-primary hover:text-white dark:text-white dark:hover:bg-dark100 dark:hover:text-primary  transition-colors duration-300 rounded-r-full;
  }
  .section {
    @apply border m-4 border-slate-200 shadow dark:border-slate-700;
  }
  .section-heading {
    @apply font-medium dark:text-primary-light;
  }
  .table {
    @apply mb-4 mt-4 w-full border  dark:border-slate-700;
  }
  .rotate::before {
    @apply absolute top-1/2 left-0 w-1 h-40 rounded bg-custom-gradient;
    content: '';
    transform-origin: bottom right;
    animation: rotateAndMove 10s linear infinite;
  }
}

/* @keyframes rotateAndMove {
  0% {
    transform: rotate(0deg) translateY(-50%);
  }
  25% {
    transform: rotate(90deg) translateY(-50%);
  }
  50% {
    transform: rotate(180deg) translateY(-50%);
  }
  75% {
    transform: rotate(270deg) translateY(-50%);
  }
  100% {
    transform: rotate(360deg) translateY(-50%);
  }
} */
